# Microsoft Visual Studio Community / Code
*.VC.*db*
/neverball/*
!/neverball/*.vcxproj
!/neverball/*.vcxproj.filters
!/neverball/*.vcxproj.user
.vs
.vscode

# Mac XCode
.DS_Store

# Should be edited in the pictures
!*.drawio
!/dist/*.svg

# Signed certificates for Powershell scripts
/certificates/*

# Distros
*.desktop
/packages

# Radiant Mappers
*.bak
*.autosave.map

# Localizations
/locale

# Compiled campaign and custom mappers
*.sol
*.csol

# Compiled sources
*.bc
*.[do]

/.version
/share/version.h

# All editions except opensource standard or dedicated server
/share/networking_*.c
!/share/networking_opensource.c
!/share/networking_dedicated.c

# Should not included the code as text file
/ball/*.c.txt
/ball/*.cpp.txt
/putt/*.c.txt
/putt/*.cpp.txt
/share/*.c.txt
/share/*.cpp.txt
*.bak
*.autosave.map
.vscode
.DS_Store
autosave

# Runtime
/*.bat
/*.dll
/*.exe
/runtimes/*.dll
/contrib/*.exe

/neverball
/neverputt
/mapc
/contrib/curve

# Emscripten Runtime
/js/neverball.data
/js/neverball.js
/js/neverball.wasm
/js/mapc.js
/js/mapc.wasm
/js/packages

# ZIP archives
/*.tar
/*.zip
